body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Light background */
    color: #333; /* Dark text */
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #222;
    color: #eee;
}

.container {
    text-align: center;
    padding: 20px;
    width: 80%;
    max-width: 500px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 300;
}

.dark-mode h1, .dark-mode .player h2 {
    color: #fff;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.dark-mode .player {
    border-bottom: 1px solid #555;
}

.player h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 400;
}

.player input {
    border: 1px solid #ddd;
    padding: 5px;
    width: 40px;
    text-align: center;
    margin: 0 5px;
}

.dark-mode .player input {
    background-color: #333;
    color: #fff;
    border: 1px solid #777;
}

.player button {
    background: none;
    border: none;
    font-size: 1.2em;
    padding: 5px 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.player button:hover {
    color: #007bff;
}

#timer {
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 300;
}

button {
    background: none;
    border: 1px solid #ddd;
    padding: 8px 15px;
    margin: 10px 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #eee;
}

.dark-mode button {
    background-color: #444;
    color: #eee;
    border: 1px solid #777;
}

.dark-mode button:hover {
    background-color: #666;
}

#playerEditCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dark-mode #playerEditCard {
    background-color: #222;
    color: #eee;
    border: 1px solid #555;
}

.dark-mode .card-content input {
    background-color: #333;
    color: #fff;
    border: 1px solid #777;
}

.card-content label {
    display: block;
    margin-top: 10px;
}

.card-content input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.card-content button {
    margin-top: 15px;
    padding: 8px 15px;
    cursor: pointer;
}
